In [2]:
import pandas as pd

In [3]:
nifty= pd.read_csv("niftydata.csv")
nifty.head()

   9/17/2007  4494.649902
0  9/18/2007  4546.200195
1  9/19/2007  4732.350098
2  9/20/2007  4747.549805
3  9/21/2007  4837.549805
4  9/24/2007  4932.200195

In [4]:
nifty= pd.read_csv("niftydata.csv",sep=',')
nifty.head()

   9/17/2007  4494.649902
0  9/18/2007  4546.200195
1  9/19/2007  4732.350098
2  9/20/2007  4747.549805
3  9/21/2007  4837.549805
4  9/24/2007  4932.200195

In [3]:
nifty= pd.read_csv("niftydata.csv",nrows=20)

nifty

     9/17/2007  4494.649902
0    9/18/2007  4546.200195
1    9/19/2007  4732.350098
2    9/20/2007  4747.549805
3    9/21/2007  4837.549805
4    9/24/2007  4932.200195
5    9/25/2007  4938.850098
6    9/26/2007  4940.500000
7    9/27/2007  5000.549805
8    9/28/2007  5021.350098
9    10/1/2007  5068.950195
10   10/3/2007  5210.799805
11   10/4/2007  5208.649902
12   10/5/2007  5185.850098
13   10/8/2007  5085.100098
14   10/9/2007  5327.250000
15  10/10/2007  5441.450195
16  10/11/2007  5524.850098
17  10/12/2007  5428.250000
18  10/15/2007  5670.399902
19  10/16/2007  5668.049805

In [9]:
nifty=pd.read_csv("niftydata.csv",header=None)
nifty.head()

           0            1
0  9/17/2007  4494.649902
1  9/18/2007  4546.200195
2  9/19/2007  4732.350098
3  9/20/2007  4747.549805
4  9/21/2007  4837.549805

In [12]:
nifty=pd.read_csv("niftydata.csv",header=None,names=['date','closing_prise'])
nifty.head()

        date  closing_prise
0  9/17/2007    4494.649902
1  9/18/2007    4546.200195
2  9/19/2007    4732.350098
3  9/20/2007    4747.549805
4  9/21/2007    4837.549805

# discribing the data

In [4]:
import pandas as pd

In [5]:
order = pd.read_excel("Sample - Superstore Sales.xls",0)
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [7]:
print(order.describe())
print(order.info())

            Row ID      Order ID  Order Quantity         Sales     Discount  \
count  8390.000000   8390.000000     8390.000000   8390.000000  8390.000000
mean   4195.500000  29932.999166       25.564601   1775.466315     0.049677
std    2422.128713  17242.133927       14.481768   3585.180194     0.031817
min       1.000000      3.000000        1.000000      2.240000     0.000000
25%    2098.250000  14989.500000       13.000000    142.962500     0.020000
50%    4195.500000  29811.500000       26.000000    449.295000     0.050000
75%    6292.750000  44539.250000       38.000000   1709.985000     0.080000
max    8390.000000  59939.000000       50.000000  89061.050000     0.250000

             Profit   Unit Price  Shipping Cost  Product Base Margin
count   8390.000000  8390.000000    8390.000000          8327.000000
mean     181.060342    89.354539      12.841080             0.512504
std     1197.067399   290.479112      17.271407             0.135600
min   -14140.701600     0.990000       0.490000             0.350000
25%      -83.295000     6.480000       3.300000             0.380000
50%       -1.515000    20.990000       6.070000             0.520000
75%      162.544500    85.990000      13.990000             0.590000
max    27220.690000  6783.020000     164.730000             0.850000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8390 entries, 0 to 8389
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                8390 non-null   int64
 1   Order ID              8390 non-null   int64
 2   Order Date            8390 non-null   datetime64[ns]
 3   Order Priority        8390 non-null   object
 4   Order Quantity        8390 non-null   int64
 5   Sales                 8390 non-null   float64
 6   Discount              8390 non-null   float64
 7   Ship Mode             8390 non-null   object
 8   Profit                8390 non-null   float64
 9   Unit Price            8390 non-null   float64
 10  Shipping Cost         8390 non-null   float64
 11  Customer Name         8390 non-null   object
 12  Province              8390 non-null   object
 13  Region                8390 non-null   object
 14  Customer Segment      8390 non-null   object
 15  Product Category      8390 non-null   object
 16  Product Sub-Category  8390 non-null   object
 17  Product Name          8390 non-null   object
 18  Product Container     8390 non-null   object
 19  Product Base Margin   8327 non-null   float64
 20  Ship Date             8390 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(3), object(10)
memory usage: 1.3+ MB
None

In [18]:
order.describe(include='all')

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
count,8390.000000,8390.000000,8390,8390,8390.000000,8390.000000,8390.000000,8390,8390.000000,8390.000000,...,8390,8390,8390,8390,8390,8390,8390,8390,8327.000000,8390
unique,NaN,NaN,1418,5,NaN,NaN,NaN,3,NaN,NaN,...,795,13,8,4,3,17,1263,7,NaN,1450
top,NaN,NaN,2012-03-28 00:00:00,High,NaN,NaN,NaN,Regular Air,NaN,NaN,...,Darren Budd,Ontario,West,Corporate,Office Supplies,Paper,"Global High-Back Leather Tilter, Burgundy",Small Box,NaN,2011-05-21 00:00:00
freq,NaN,NaN,20,1766,NaN,NaN,NaN,6265,NaN,NaN,...,41,1826,1987,3075,4605,1223,24,4342,NaN,19
first,NaN,NaN,2009-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-01-02 00:00:00
last,NaN,NaN,2012-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-12-30 00:00:00
mean,4195.500000,29932.999166,NaN,NaN,25.564601,1775.466315,0.049677,NaN,181.060342,89.354539,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.512504,NaN
std,2422.128713,17242.133927,NaN,NaN,14.481768,3585.180194,0.031817,NaN,1197.067399,290.479112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.135600,NaN
min,1.000000,3.000000,NaN,NaN,1.000000,2.240000,0.000000,NaN,-14140.701600,0.990000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.350000,NaN
25%,2098.250000,14989.500000,NaN,NaN,13.000000,142.962500,0.020000,NaN,-83.295000,6.480000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.380000,NaN
50%,4195.500000,29811.500000,NaN,NaN,26.000000,449.295000,0.050000,NaN,-1.515000,20.990000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.520000,NaN
75%,6292.750000,44539.250000,NaN,NaN,38.000000,1709.985000,0.080000,NaN,162.544500,85.990000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.590000,NaN
max,8390.000000,59939.000000,NaN,NaN,50.000000,89061.050000,0.250000,NaN,27220.690000,6783.020000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.850000,NaN

In [20]:
order.describe(include=['object'])

,Order Priority,Ship Mode,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container
count,8390,8390,8390,8390,8390,8390,8390,8390,8390,8390
unique,5,3,795,13,8,4,3,17,1263,7
top,High,Regular Air,Darren Budd,Ontario,West,Corporate,Office Supplies,Paper,"Global High-Back Leather Tilter, Burgundy",Small Box
freq,1766,6265,41,1826,1987,3075,4605,1223,24,4342

In [31]:
order[order['Order Priority']=='High'].describe()

,Row ID,Order ID,Order Quantity,Sales,Discount,Profit,Unit Price,Shipping Cost,Product Base Margin
count,8390.000000,8390.000000,8390.000000,8390.000000,8390.000000,8390.000000,8390.000000,8390.000000,8327.000000
mean,4195.500000,29932.999166,25.564601,1775.466315,0.049677,181.060342,89.354539,12.841080,0.512504
std,2422.128713,17242.133927,14.481768,3585.180194,0.031817,1197.067399,290.479112,17.271407,0.135600
min,1.000000,3.000000,1.000000,2.240000,0.000000,-14140.701600,0.990000,0.490000,0.350000
25%,2098.250000,14989.500000,13.000000,142.962500,0.020000,-83.295000,6.480000,3.300000,0.380000
50%,4195.500000,29811.500000,26.000000,449.295000,0.050000,-1.515000,20.990000,6.070000,0.520000
75%,6292.750000,44539.250000,38.000000,1709.985000,0.080000,162.544500,85.990000,13.990000,0.590000
max,8390.000000,59939.000000,50.000000,89061.050000,0.250000,27220.690000,6783.020000,164.730000,0.850000

In [8]:
order[(order['Order Priority']=='High')& (order.Sales>=10000)].describe

<bound method NDFrame.describe of       Row ID  Order ID Order Date Order Priority  Order Quantity     Sales  \
48        49       293 2012-10-01           High              49  10123.02
209      210      1383 2010-04-26           High              43  17129.97
249      250      1761 2010-12-23           High              25  12028.23
409      410      2790 2009-08-18           High              41  22319.58
448      449      3046 2011-11-29           High              24  10094.43
...      ...       ...        ...            ...             ...       ...
8118    8119     57984 2010-10-02           High              20  11829.40
8197    8198     58626 2011-12-30           High              21  10469.03
8242    8243     58917 2012-03-02           High              27  14300.26
8296    8297     59270 2010-01-11           High              48  25312.00
8324    8325     59491 2012-03-24           High              31  12470.31

      Discount       Ship Mode    Profit  Unit Price  ...      Customer Name  \
48        0.07  Delivery Truck   457.810      208.16  ...       Barry French
209       0.07     Regular Air  5616.080      415.88  ...       Frank Merwin
249       0.01  Delivery Truck  -547.610      449.99  ...        Carl Ludwig
409       0.02  Delivery Truck  -734.310      549.99  ...      Maribeth Dona
448       0.03     Regular Air  4451.008      420.98  ...           Sung Pak
...        ...             ...       ...         ...  ...                ...
8118      0.07     Regular Air  3899.720      599.99  ...      Toby Carlisle
8197      0.07  Delivery Truck  2608.720      500.98  ...      Henry Goldwyn
8242      0.01     Regular Air  6279.180      499.99  ...     John Stevenson
8296      0.01  Delivery Truck  8788.810      517.48  ...  Deborah Brumfield
8324      0.04     Regular Air  5528.502      387.99  ...        Greg Hansen

                  Province    Region Customer Segment Product Category  \
48                 Nunavut   Nunavut         Consumer  Office Supplies
209                Alberta      West         Consumer  Office Supplies
249                Nunavut   Nunavut        Corporate       Technology
409       British Columbia      West      Home Office       Technology
448                Alberta      West   Small Business  Office Supplies
...                    ...       ...              ...              ...
8118           Saskachewan    Prarie      Home Office       Technology
8197  Prince Edward Island  Atlantic   Small Business        Furniture
8242                Quebec    Quebec   Small Business       Technology
8296           Nova Scotia  Atlantic   Small Business       Technology
8324               Ontario   Ontario      Home Office  Office Supplies

                Product Sub-Category  \
48                        Appliances
209           Storage & Organization
249                  Copiers and Fax
409                  Copiers and Fax
448   Binders and Binder Accessories
...                              ...
8118                 Copiers and Fax
8197              Chairs & Chairmats
8242                 Copiers and Fax
8296                 Office Machines
8324  Binders and Binder Accessories

                                           Product Name Product Container  \
48    1.7 Cubic Foot Compact "Cube" Office Refrigera...        Jumbo Drum
209            Deluxe Rollaway Locking File with Drawer         Small Box
249                                  Canon PC940 Copier        Jumbo Drum
409                   Sharp 1540cs Digital Laser Copier        Jumbo Drum
448             GBC DocuBind 200 Manual Binding Machine         Small Box
...                                                 ...               ...
8118               Hewlett Packard LaserJet 3310 Copier         Large Box
8197     Global Troy™ Executive Leather Low-Back Tilter        Jumbo Drum
8242                     Sharp AL-1530CS Digital Copier         Large Box
8296              Panasonic KX-P3626 Dot Matrix Printer         Jumbo Box
8324        Fellowes PB300 Plastic Comb Binding Machine         Small Box

     Product Base Margin  Ship Date
48                  0.58 2012-10-02
209                 0.57 2010-04-27
249                 0.38 2010-12-25
409                 0.35 2009-08-20
448                 0.35 2011-12-01
...                  ...        ...
8118                0.37 2010-10-04
8197                0.60 2012-01-02
8242                0.36 2012-03-03
8296                0.59 2010-01-13
8324                0.38 2012-03-27

[68 rows x 21 columns]>

# sorting

In [40]:
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,High,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,High,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [43]:
order.Sales.sort_values().head()

888     2.24
3552    3.20
3262    3.23
6986    3.41
1313    3.42
Name: Sales, dtype: float64

In [46]:
order.Sales.sort_values(ascending=False).head()

4189    89061.05
451     45923.76
4263    41343.21
2025    33367.85
4628    29884.60
Name: Sales, dtype: float64

In [49]:
order['Order Date'].sort_values().head()

1913   2009-01-01
4030   2009-01-01
5272   2009-01-02
1278   2009-01-02
5271   2009-01-02
Name: Order Date, dtype: datetime64[ns]

In [50]:
order.sort_values('Sales').head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
888,889,6374,2011-08-07,High,1,2.24,0.01,Regular Air,-1.9700,1.48,...,Ricardo Emerson,British Columbia,West,Corporate,Office Supplies,Rubber Bands,Binder Clips by OIC,Wrap Bag,0.37,2011-08-09
3552,3553,25318,2011-11-19,High,1,3.20,0.09,Regular Air,-3.1625,1.88,...,Ken Dana,Alberta,West,Small Business,Office Supplies,Binders and Binder Accessories,Staples® General Use 3-Ring Binders,Small Box,0.37,2011-11-21
3262,3263,23361,2010-07-03,High,2,3.23,0.06,Regular Air,-2.7300,1.26,...,Benjamin Patterson,Yukon,Yukon,Corporate,Office Supplies,Rubber Bands,Bagged Rubber Bands,Wrap Bag,0.81,2010-07-04
6986,6987,49925,2010-01-22,High,1,3.41,0.06,Regular Air,-1.7800,2.88,...,Adam Hart,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Newell 346,Wrap Bag,0.56,2010-01-23
1313,1314,9635,2009-04-13,High,1,3.42,0.05,Regular Air,-2.9095,1.88,...,Andy Reiter,Quebec,Quebec,Corporate,Office Supplies,Binders and Binder Accessories,Staples® General Use 3-Ring Binders,Small Box,0.37,2009-04-15

In [51]:
order.sort_values(['Sales','Order Priority']).head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
888,889,6374,2011-08-07,High,1,2.24,0.01,Regular Air,-1.9700,1.48,...,Ricardo Emerson,British Columbia,West,Corporate,Office Supplies,Rubber Bands,Binder Clips by OIC,Wrap Bag,0.37,2011-08-09
3552,3553,25318,2011-11-19,High,1,3.20,0.09,Regular Air,-3.1625,1.88,...,Ken Dana,Alberta,West,Small Business,Office Supplies,Binders and Binder Accessories,Staples® General Use 3-Ring Binders,Small Box,0.37,2011-11-21
3262,3263,23361,2010-07-03,High,2,3.23,0.06,Regular Air,-2.7300,1.26,...,Benjamin Patterson,Yukon,Yukon,Corporate,Office Supplies,Rubber Bands,Bagged Rubber Bands,Wrap Bag,0.81,2010-07-04
6986,6987,49925,2010-01-22,High,1,3.41,0.06,Regular Air,-1.7800,2.88,...,Adam Hart,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Newell 346,Wrap Bag,0.56,2010-01-23
1313,1314,9635,2009-04-13,High,1,3.42,0.05,Regular Air,-2.9095,1.88,...,Andy Reiter,Quebec,Quebec,Corporate,Office Supplies,Binders and Binder Accessories,Staples® General Use 3-Ring Binders,Small Box,0.37,2009-04-15

In [52]:
order.sort_values(['Sales','Order Priority'],ascending=False).head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
4189,4190,29766,2009-03-21,High,13,89061.05,0.00,Regular Air,27220.69,6783.02,...,Emily Phan,New Brunswick,Atlantic,Consumer,Technology,Office Machines,Polycom ViewStation™ ISDN Videoconferencing Unit,Large Box,0.39,2009-03-22
451,452,3073,2009-01-07,High,7,45923.76,0.07,Regular Air,102.61,6783.02,...,Jasper Cacioppo,Quebec,Quebec,Home Office,Technology,Office Machines,Polycom ViewStation™ ISDN Videoconferencing Unit,Large Box,0.39,2009-01-08
4263,4264,30343,2012-05-21,High,8,41343.21,0.09,Regular Air,3852.19,6783.02,...,Craig Carreira,Saskachewan,Prarie,Corporate,Technology,Office Machines,Polycom ViewStation™ ISDN Videoconferencing Unit,Large Box,0.39,2012-05-23
2025,2026,14435,2012-12-01,High,9,33367.85,0.01,Regular Air,3992.52,3499.99,...,Dennis Kane,Quebec,Quebec,Small Business,Technology,Copiers and Fax,Canon imageCLASS 2200 Advanced Copier,Large Box,0.37,2012-12-04
4628,4629,32932,2010-01-09,High,49,29884.60,0.05,Regular Air,12748.86,599.99,...,Karen Carlisle,British Columbia,West,Corporate,Technology,Copiers and Fax,Canon Image Class D660 Copier,Large Box,0.44,2010-01-13

# filter the data

In [53]:
import pandas as pd

In [73]:
order = pd.read_excel('Sample - Superstore Sales.xls',0)
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [56]:
order[order['Order Priority']=='High']

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17
5,6,32,2011-07-15,High,15,140.5600,0.04,Regular Air,-128.380,8.46,...,Liz Pelletier,Saskachewan,Prarie,Corporate,Technology,Computer Peripherals,"Imation 3.5 IBM Diskettes, 10/Box",Small Pack,0.79,2011-07-16
15,16,96,2009-04-16,High,37,4158.1235,0.01,Regular Air,1228.887,125.99,...,Keith Dawkins,Manitoba,Prarie,Home Office,Technology,Telephones and Communication,SC7868i,Small Box,0.55,2009-04-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8381,8382,59905,2012-04-14,High,19,159.2400,0.09,Regular Air,8.300,8.50,...,Daniel Lacy,British Columbia,West,Small Business,Technology,Computer Peripherals,Hewlett-Packard 4.7GB DVD+R Discs,Small Pack,0.49,2012-04-16
8382,8383,59905,2012-04-14,High,6,48.7700,0.00,Regular Air,5.950,7.40,...,Daniel Lacy,British Columbia,West,Small Business,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",Wrap Bag,0.40,2012-04-16
8383,8384,59905,2012-04-14,High,5,26.5000,0.01,Express Air,2.610,4.26,...,Daniel Lacy,British Columbia,West,Small Business,Office Supplies,Pens & Art Supplies,"Dixon Prang® Watercolor Pencils, 10-Color Set ...",Wrap Bag,0.44,2012-04-15
8384,8385,59906,2010-05-20,High,32,284.9200,0.03,Regular Air,81.290,9.11,...,Lindsay Shagiari,Ontario,Ontario,Home Office,Office Supplies,Paper,"Black Print Carbonless Snap-Off® Rapid Letter,...",Wrap Bag,0.40,2010-05-22
8388,8389,59937,2009-12-28,High,7,235.9800,0.02,Regular Air,-32.280,30.98,...,John Stevenson,Quebec,Quebec,Small Business,Office Supplies,Paper,Xerox 197,Small Box,0.40,2009-12-29

In [58]:
# salees > 100
order[order.Sales>100]

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.2500,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.8200,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.5600,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.1290,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17
5,6,32,2011-07-15,High,15,140.5600,0.04,Regular Air,-128.3800,8.46,...,Liz Pelletier,Saskachewan,Prarie,Corporate,Technology,Computer Peripherals,"Imation 3.5 IBM Diskettes, 10/Box",Small Pack,0.79,2011-07-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8384,8385,59906,2010-05-20,High,32,284.9200,0.03,Regular Air,81.2900,9.11,...,Lindsay Shagiari,Ontario,Ontario,Home Office,Office Supplies,Paper,"Black Print Carbonless Snap-Off® Rapid Letter,...",Wrap Bag,0.40,2010-05-22
8385,8386,59909,2012-08-05,Low,11,1255.4800,0.06,Delivery Truck,-292.6506,115.99,...,Christina Vanderzanden,Ontario,Ontario,Small Business,Technology,Office Machines,Hewlett-Packard Deskjet 5550 Color Inkjet Printer,Jumbo Drum,0.40,2012-08-07
8386,8387,59909,2012-08-05,Low,46,411.5600,0.09,Express Air,-188.0200,9.38,...,Christina Vanderzanden,Ontario,Ontario,Small Business,Office Supplies,Storage & Organization,Staples File Caddy,Small Box,0.57,2012-08-12
8388,8389,59937,2009-12-28,High,7,235.9800,0.02,Regular Air,-32.2800,30.98,...,John Stevenson,Quebec,Quebec,Small Business,Office Supplies,Paper,Xerox 197,Small Box,0.40,2009-12-29
8389,8390,59939,2010-09-01,Medium,42,130.9600,0.05,Regular Air,-66.7400,3.14,...,Nicole Fjeld,Saskachewan,Prarie,Small Business,Office Supplies,"Scissors, Rulers and Trimmers",Serrated Blade or Curved Handle Hand Letter Op...,Wrap Bag,0.84,2010-09-01

In [60]:
order[(order.Sales>100) & (order['Order Priority']!='High')]

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.2500,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
6,7,35,2011-10-22,Not Specified,30,288.5600,0.03,Regular Air,60.7200,9.11,...,Julie Creighton,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Dixon Ticonderoga Core-Lock Colored Pencils,Wrap Bag,0.52,2011-10-23
7,8,35,2011-10-22,Not Specified,14,1892.8480,0.01,Regular Air,48.9870,155.99,...,Julie Creighton,British Columbia,West,Corporate,Technology,Telephones and Communication,CF 688,Small Box,0.58,2011-10-24
8,9,36,2011-11-02,Critical,46,2484.7455,0.10,Regular Air,657.4770,65.99,...,Sample Company A,Alberta,West,Home Office,Technology,Telephones and Communication,6162i,Small Box,0.55,2011-11-02
9,10,65,2011-03-17,Critical,32,3812.7300,0.02,Regular Air,1470.3000,115.79,...,Tamara Dahlen,Ontario,Ontario,Corporate,Technology,Computer Peripherals,"Verbatim DVD-R, 4.7GB, Spindle, WE, Blank, Ink...",Small Pack,0.49,2011-03-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8377,8378,59845,2009-12-22,Low,28,120.5400,0.06,Regular Air,6.5200,4.20,...,Ed Ludwig,Ontario,Ontario,Consumer,Office Supplies,Paper,"Important Message Pads, 50 4-1/4 x 5-1/2 Forms...",Wrap Bag,0.36,2009-12-27
8380,8381,59879,2009-03-09,Not Specified,33,987.3175,0.04,Express Air,368.5590,35.99,...,Karen Bern,Saskachewan,Prarie,Corporate,Technology,Telephones and Communication,Accessory9,Small Pack,0.39,2009-03-11
8385,8386,59909,2012-08-05,Low,11,1255.4800,0.06,Delivery Truck,-292.6506,115.99,...,Christina Vanderzanden,Ontario,Ontario,Small Business,Technology,Office Machines,Hewlett-Packard Deskjet 5550 Color Inkjet Printer,Jumbo Drum,0.40,2012-08-07
8386,8387,59909,2012-08-05,Low,46,411.5600,0.09,Express Air,-188.0200,9.38,...,Christina Vanderzanden,Ontario,Ontario,Small Business,Office Supplies,Storage & Organization,Staples File Caddy,Small Box,0.57,2012-08-12
8389,8390,59939,2010-09-01,Medium,42,130.9600,0.05,Regular Air,-66.7400,3.14,...,Nicole Fjeld,Saskachewan,Prarie,Small Business,Office Supplies,"Scissors, Rulers and Trimmers",Serrated Blade or Curved Handle Hand Letter Op...,Wrap Bag,0.84,2010-09-01

In [67]:
order[(order['Ship Mode'].isin (['Regular Air','Delivery Truck'])) & (order['Order Priority']=='High') ]

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17
5,6,32,2011-07-15,High,15,140.5600,0.04,Regular Air,-128.380,8.46,...,Liz Pelletier,Saskachewan,Prarie,Corporate,Technology,Computer Peripherals,"Imation 3.5 IBM Diskettes, 10/Box",Small Pack,0.79,2011-07-16
15,16,96,2009-04-16,High,37,4158.1235,0.01,Regular Air,1228.887,125.99,...,Keith Dawkins,Manitoba,Prarie,Home Office,Technology,Telephones and Communication,SC7868i,Small Box,0.55,2009-04-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8379,8380,59878,2012-05-28,High,23,249.6400,0.08,Regular Air,-91.650,10.90,...,Ivan Gibson,Ontario,Ontario,Corporate,Office Supplies,Storage & Organization,Crate-A-Files™,Small Box,0.59,2012-05-29
8381,8382,59905,2012-04-14,High,19,159.2400,0.09,Regular Air,8.300,8.50,...,Daniel Lacy,British Columbia,West,Small Business,Technology,Computer Peripherals,Hewlett-Packard 4.7GB DVD+R Discs,Small Pack,0.49,2012-04-16
8382,8383,59905,2012-04-14,High,6,48.7700,0.00,Regular Air,5.950,7.40,...,Daniel Lacy,British Columbia,West,Small Business,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",Wrap Bag,0.40,2012-04-16
8384,8385,59906,2010-05-20,High,32,284.9200,0.03,Regular Air,81.290,9.11,...,Lindsay Shagiari,Ontario,Ontario,Home Office,Office Supplies,Paper,"Black Print Carbonless Snap-Off® Rapid Letter,...",Wrap Bag,0.40,2010-05-22
8388,8389,59937,2009-12-28,High,7,235.9800,0.02,Regular Air,-32.280,30.98,...,John Stevenson,Quebec,Quebec,Small Business,Office Supplies,Paper,Xerox 197,Small Box,0.40,2009-12-29

# deleting the row

In [2]:
import pandas as pd

In [8]:
order= pd.read_excel('Sample - Superstore Sales.xls',0)

In [9]:
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [10]:
order.drop('Row ID',axis=1,inplace=True)
order.head()

,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,2.56,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,5.81,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,89.30,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,5.03,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [80]:
order.drop(['Order ID','Order Date'],axis=1,inplace=True)
order.head()

,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,2.56,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,5.81,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,89.30,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,High,23,160.2335,0.04,Regular Air,-85.129,7.99,5.03,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [11]:
# column drop

order.drop([2,4],axis=0,inplace=True)
order.head()

,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,3,2010-10-13,Low,6,261.54,0.04,Regular Air,-213.25,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,6,2012-02-20,Not Specified,2,6.93,0.01,Regular Air,-4.64,2.08,2.56,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
3,32,2011-07-15,High,24,1761.40,0.09,Delivery Truck,-1748.56,70.89,89.30,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
5,32,2011-07-15,High,15,140.56,0.04,Regular Air,-128.38,8.46,8.99,Liz Pelletier,Saskachewan,Prarie,Corporate,Technology,Computer Peripherals,"Imation 3.5 IBM Diskettes, 10/Box",Small Pack,0.79,2011-07-16
6,35,2011-10-22,Not Specified,30,288.56,0.03,Regular Air,60.72,9.11,2.25,Julie Creighton,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Dixon Ticonderoga Core-Lock Colored Pencils,Wrap Bag,0.52,2011-10-23

# Data frame

In [12]:
import pandas as pd 
from pandas import DataFrame

In [13]:
order = pd.read_excel('Sample - Superstore Sales.xls',0)
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [14]:
order.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost', 'Customer Name', 'Province', 'Region',
       'Customer Segment', 'Product Category', 'Product Sub-Category',
       'Product Name', 'Product Container', 'Product Base Margin',
       'Ship Date'],
      dtype='object')

In [17]:
order_subset=DataFrame(order,columns=['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost','mataoo'])
order_subset.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,mataoo
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,35.00,NaN
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,2.56,NaN
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,5.81,NaN
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,89.30,NaN
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,5.03,NaN

In [16]:
del order_subset['mataoo']

order_subset.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,35.00
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,2.56
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,5.81
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,89.30
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,5.03

In [18]:
order_subset.drop('mataoo',axis=1,inplace=True)
order_subset.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,35.00
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,2.56
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,5.81
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,89.30
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,5.03

# series

In [19]:
import pandas as pd 
from pandas import Series

In [20]:
ser1=Series([1,2,3,4,5,6,7,8,9])
ser1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [21]:
ser1[3]

4

In [21]:
ser1.index

RangeIndex(start=0, stop=9, step=1)

In [22]:
ser2=Series([2,4,6],index=['a','b','c'])
ser2

a    2
b    4
c    6
dtype: int64

In [23]:
import pandas as pd

In [24]:
order =pd.read_excel('Sample - Superstore Sales.xls',0)
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [25]:
order['Unit Price']* order['Shipping Cost']

0       1362.9000
1          5.3248
2        624.7493
3       6330.4770
4         40.1897
          ...
8385    6511.6786
8386      68.2864
8387      19.5865
8388     529.1384
8389       6.0288
Length: 8390, dtype: float64

In [35]:
order['Order Priority']+' ' + order['Ship Mode']

0                 Low Regular Air
1       Not Specified Regular Air
2                High Regular Air
3             High Delivery Truck
4                High Regular Air
                  ...
8385           Low Delivery Truck
8386              Low Express Air
8387    Not Specified Regular Air
8388             High Regular Air
8389           Medium Regular Air
Length: 8390, dtype: object

In [38]:
order.Sales.size

8390

# impoart HTML data

In [39]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\rupeek\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: six>=1.9 in c:\users\rupeek\anaconda3\lib\site-packages (from html5lib) (1.14.0)
Requirement already satisfied: webencodings in c:\users\rupeek\anaconda3\lib\site-packages (from html5lib) (0.5.1)

In [26]:
import pandas as pandas
from pandas import read_html
import html5lib

In [27]:
url="https://www.moneycontrol.com/mutual-funds/performance-tracker/returns/large-cap-fund.html"

In [28]:
table_list=pd.io.html.read_html(url)
table_list

[                                          Scheme Name Crisil Rank  AuM (Cr)  \
 0   Canara Robeco Bluechip Equity Fund - Direct Pl...           5    923.93
 1   Canara Robeco Bluechip Equity Fund - Regular P...           5    923.93
 2   JM Large Cap Fund - (Direct) - GrowthLarge Cap...           5    337.94
 3   Axis Bluechip Fund - Direct Plan - GrowthLarge...           5  18282.98
 4            JM Large Cap Fund - GrowthLarge Cap Fund           5    337.94
 ..                                                ...         ...       ...
 57  Nippon India Large Cap Fund - GrowthLarge Cap ...           1   9677.04
 58  Principal Large Cap Fund - Regular Plan - Grow...           -    186.33
 59  Principal Large Cap Fund - Direct Plan - Growt...           -    186.33
 60  Sundaram Bluechip Fund - Regular Plan - Growth...           -    708.22
 61  Sundaram Bluechip Fund - Direct Plan - GrowthL...           -    708.22

        1W      1M      3M      6M     YTD      1Y      2Y      3Y      5Y  \
 0   0.84%   8.27%  11.38%  35.62%  15.71%  16.95%  17.52%  12.98%  14.17%
 1   0.81%   8.16%  10.99%  34.59%  14.22%  15.28%  15.94%  11.57%  12.81%
 2   0.59%   6.10%   8.34%  25.52%  13.47%  13.73%   9.95%   7.36%   9.11%
 3   0.78%   9.06%  13.26%  34.03%  11.76%  12.96%  17.48%  14.24%  14.67%
 4   0.56%   6.00%   8.04%  24.82%  12.38%  12.56%   8.84%   6.24%   7.83%
 ..    ...     ...     ...     ...     ...     ...     ...     ...     ...
 57  0.71%  11.01%   6.99%  36.24%  -3.89%  -3.31%   2.37%   1.59%   7.76%
 58  0.92%   8.86%       -       -       -       -       -       -       -
 59  0.83%   8.96%       -       -       -       -       -       -       -
 60  0.84%   8.34%       -       -       -       -       -       -       -
 61  0.88%   8.52%       -       -       -       -       -       -       -

        10Y
 0        -
 1   11.81%
 2        -
 3        -
 4    7.37%
 ..     ...
 57  10.05%
 58       -
 59       -
 60       -
 61       -

 [62 rows x 13 columns]]

In [29]:
mf_table=table_list[0]
mf_table

,Scheme Name,Crisil Rank,AuM (Cr),1W,1M,3M,6M,YTD,1Y,2Y,3Y,5Y,10Y
0,Canara Robeco Bluechip Equity Fund - Direct Pl...,5,923.93,0.84%,8.27%,11.38%,35.62%,15.71%,16.95%,17.52%,12.98%,14.17%,-
1,Canara Robeco Bluechip Equity Fund - Regular P...,5,923.93,0.81%,8.16%,10.99%,34.59%,14.22%,15.28%,15.94%,11.57%,12.81%,11.81%
2,JM Large Cap Fund - (Direct) - GrowthLarge Cap...,5,337.94,0.59%,6.10%,8.34%,25.52%,13.47%,13.73%,9.95%,7.36%,9.11%,-
3,Axis Bluechip Fund - Direct Plan - GrowthLarge...,5,18282.98,0.78%,9.06%,13.26%,34.03%,11.76%,12.96%,17.48%,14.24%,14.67%,-
4,JM Large Cap Fund - GrowthLarge Cap Fund,5,337.94,0.56%,6.00%,8.04%,24.82%,12.38%,12.56%,8.84%,6.24%,7.83%,7.37%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Nippon India Large Cap Fund - GrowthLarge Cap ...,1,9677.04,0.71%,11.01%,6.99%,36.24%,-3.89%,-3.31%,2.37%,1.59%,7.76%,10.05%
58,Principal Large Cap Fund - Regular Plan - Grow...,-,186.33,0.92%,8.86%,-,-,-,-,-,-,-,-
59,Principal Large Cap Fund - Direct Plan - Growt...,-,186.33,0.83%,8.96%,-,-,-,-,-,-,-,-
60,Sundaram Bluechip Fund - Regular Plan - Growth...,-,708.22,0.84%,8.34%,-,-,-,-,-,-,-,-
61,Sundaram Bluechip Fund - Direct Plan - GrowthL...,-,708.22,0.88%,8.52%,-,-,-,-,-,-,-,-

# scraping data from pasward protected html page

In [47]:

from bs4 import BeautifulSoup
import requests

# Start the session
session = requests.Session()

# Create the payload
payload = {'_username':'[jaswanth]', 
          '_password':'[Rupeek@123]' 

         }

# Post the payload to the site to log in
s = session.post("http://tableau.internal.rupeek.com/#/signin?redirect=%2Fprojects%2F16%2Fviews", data=payload)

# Navigate to the next page and scrape the data



tableau_table_list= session.post.io.html.read_html("http://tableau.internal.rupeek.com/#/projects/16/views")
tableau_table_list

AttributeError: 'function' object has no attribute 'io'

# answer buisness questions

In [30]:
import pandas as pd

In [31]:
order = pd.read_excel('Sample - Superstore Sales.xls',0)
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [57]:
order.groupby('Customer Segment').Sales.sum()

Customer Segment
Consumer          3.063611e+06
Corporate         5.498190e+06
Home Office       3.562063e+06
Small Business    2.772298e+06
Name: Sales, dtype: float64

In [3]:
order.groupby('Customer Segment').Profit.sum()

Customer Segment
Consumer          287959.983779
Corporate         600014.574158
Home Office       318256.411991
Small Business    312865.296153
Name: Profit, dtype: float64

In [14]:
# count the values 
order['Product Name'].value_counts()

Global High-Back Leather Tilter, Burgundy                                 24
Bevis 36 x 72 Conference Tables                                           22
Master Giant Foot® Doorstop, Safety Yellow                                22
Fiskars® Softgrip Scissors                                                22
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables         22
                                                                          ..
Eldon® Executive Woodline II Desk Accessories, Mahogany                    1
Acco Smartsocket™ Table Surge Protector, 6 Color-Coded Adapter Outlets     1
Colorific® Watercolor Pencils                                              1
14-7/8 x 11 Blue Bar Computer Printout Paper                               1
Verbatim DVD Rewritable Disc, Single-Sided, 4.7GB                          1
Name: Product Name, Length: 1263, dtype: int64

In [32]:
# to find unique values 
order['Product Name'].nunique()

1263

In [21]:
order.groupby('Product Name').Sales.sum().nlargest(10)

Product Name
Global Troy™ Executive Leather Low-Back Tilter                   275941.520
Polycom ViewStation™ ISDN Videoconferencing Unit                 255303.970
Canon PC940 Copier                                               210910.680
Riverside Palais Royal Lawyers Bookcase, Royale Cherry Finish    206494.130
Hewlett Packard LaserJet 3310 Copier                             194880.350
Bretford CR8500 Series Meeting Room Furniture                    147412.212
Sharp AL-1530CS Digital Copier                                   130046.810
Hewlett-Packard cp1700 [D, PS] Series Color Inkjet Printers      128100.430
GBC DocuBind 200 Manual Binding Machine                          120342.740
Canon imageCLASS 2200 Advanced Copier                            114173.410
Name: Sales, dtype: float64

In [22]:
order.groupby('Product Name').Sales.sum().nsmallest()

Product Name
Alliance Rubber Bands                14.85
Sony IBM Color Diskettes, 25/Pack    31.29
*Staples* Packaging Labels           34.94
Avery 482                            44.46
Blackstonian Pencils                 50.07
Name: Sales, dtype: float64

# groupby

In [47]:
import pandas as pd

In [48]:
order= pd.read_excel('Sample - Superstore Sales.xls',0) 
order.head(2)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.93,0.01,Regular Air,-4.64,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21

In [54]:
#sum
order.groupby('Order Priority').Sales.sum().round(2)

Order Priority
Critical         2722810.12
High             3266643.62
Low              3266607.68
Medium           2861737.66
Not Specified    2778363.30
Name: Sales, dtype: float64

In [55]:
# mean
order.groupby('Order Priority').Sales.mean().round(2)

Order Priority
Critical         1697.51
High             1849.74
Low              1901.40
Medium           1755.67
Not Specified    1661.70
Name: Sales, dtype: float64

In [56]:
#min
order.groupby('Order Priority').Sales.min()

Order Priority
Critical         2.24
High             3.41
Low              3.63
Medium           4.94
Not Specified    3.85
Name: Sales, dtype: float64

In [57]:
#max
order.groupby('Order Priority').Sales.max()

Order Priority
Critical         41343.21
High             28664.52
Low              29884.60
Medium           89061.05
Not Specified    33367.85
Name: Sales, dtype: float64

In [58]:
order.groupby('Order Priority').Sales.agg(['mean','max','min','sum'])

                       mean       max   min           sum
Order Priority
Critical        1697.512545  41343.21  2.24  2.722810e+06
High            1849.741575  28664.52  3.41  3.266644e+06
Low             1901.401445  29884.60  3.63  3.266608e+06
Medium          1755.667275  89061.05  4.94  2.861738e+06
Not Specified   1661.700536  33367.85  3.85  2.778363e+06

In [60]:
order.groupby(['Order Priority','Ship Mode']).Sales.agg(['mean','max','min','sum']).round(2)

                                  mean       max     min         sum
Order Priority Ship Mode
Critical       Delivery Truck  5282.81  26133.39   72.46  1204481.04
               Express Air     1169.06   7841.57   15.60   231474.53
               Regular Air     1092.41  41343.21    2.24  1286854.55
High           Delivery Truck  5712.88  28389.14  102.90  1416794.41
               Express Air     1163.15  13064.06   24.16   246587.00
               Regular Air     1227.61  28664.52    3.41  1603262.21
Low            Delivery Truck  5706.05  29345.27  131.27  1415099.62
               Express Air     1146.32  23949.51   10.17   217800.60
               Regular Air     1276.33  29884.60    3.63  1633707.46
Medium         Delivery Truck  5084.79  25313.34  121.62  1042382.54
               Express Air     1395.11  24051.49   14.85   280417.79
               Regular Air     1257.30  89061.05    4.94  1538937.33
Not Specified  Delivery Truck  5256.27  29186.49   73.44  1130098.41
               Express Air     1151.92  19109.61    7.96   207344.94
               Regular Air     1128.36  33367.85    3.85  1440919.95

In [63]:
order.groupby(['Order Priority','Ship Mode']).sum()

                                Row ID  Order ID  Order Quantity  \
Order Priority Ship Mode
Critical       Delivery Truck  1005785   7178723            5625
               Express Air      833409   5946279            4936
               Regular Air     4839368  34520491           30053
High           Delivery Truck  1028947   7345589            6194
               Express Air      936831   6686125            5338
               Regular Air     5584948  39844940           34085
Low            Delivery Truck   997392   7116559            6575
               Express Air      774768   5526142            5066
               Regular Air     5303332  37837218           32671
Medium         Delivery Truck   863206   6158552            5182
               Express Air      943801   6730707            5101
               Regular Air     5208529  37162885           31034
Not Specified  Delivery Truck   890465   6352951            5129
               Express Air      747049   5330296            4874
               Regular Air     5242415  37400406           32624

                                      Sales  Discount         Profit  \
Order Priority Ship Mode
Critical       Delivery Truck  1.204481e+06     11.28  -16832.081830
               Express Air     2.314745e+05     10.07   34304.444321
               Regular Air     1.286855e+06     58.66  165425.375279
High           Delivery Truck  1.416794e+06     12.27   78286.420479
               Express Air     2.465870e+05     10.16   40461.818400
               Regular Air     1.603262e+06     64.98  288202.833630
Low            Delivery Truck  1.415100e+06     12.85   95323.492001
               Express Air     2.178006e+05      9.44   26488.452250
               Regular Air     1.633707e+06     64.21  261530.233931
Medium         Delivery Truck  1.042383e+06     10.37   65383.579939
               Express Air     2.804178e+05     10.74   33265.874200
               Regular Air     1.538937e+06     60.70  228670.895239
Not Specified  Delivery Truck  1.130098e+06     10.16   44640.766692
               Express Air     2.073449e+05      8.58   12950.968500
               Regular Air     1.440920e+06     62.32  160993.193050

                               Unit Price  Shipping Cost  Product Base Margin
Order Priority Ship Mode
Critical       Delivery Truck    64310.99       10783.82               140.06
               Express Air       10195.60        1728.02                98.75
               Regular Air       66642.36        8571.89               576.96
High           Delivery Truck    71302.76       11206.88               150.72
               Express Air       10101.71        1453.53               104.97
               Regular Air       75456.92        9992.37               644.27
Low            Delivery Truck    60346.34       11087.81               151.09
               Express Air        9651.64        1551.63                93.35
               Regular Air       73870.77       10263.62               635.56
Medium         Delivery Truck    44246.03        9461.62               128.28
               Express Air       17993.19        1633.59                99.51
               Regular Air       86769.07        9409.73               595.56
Not Specified  Delivery Truck    61364.95        9388.01               130.27
               Express Air        8035.80        1470.06                92.93
               Regular Air       89396.45        9734.08               625.34

# string opprations

In [64]:
import pandas as pd

In [67]:
order= pd.read_excel('Sample - Superstore Sales.xls',0)
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [70]:
#unique values
order['Order Priority'].unique()

array(['Low', 'Not Specified', 'High', 'Critical', 'Medium'], dtype=object)

In [71]:
#unique count of values
order['Order Priority'].nunique()

5

In [72]:
# to upper case
order['Order Priority'].str.upper()

0                 LOW
1       NOT SPECIFIED
2                HIGH
3                HIGH
4                HIGH
            ...
8385              LOW
8386              LOW
8387    NOT SPECIFIED
8388             HIGH
8389           MEDIUM
Name: Order Priority, Length: 8390, dtype: object

In [73]:
# to lower case
order['Order Priority'].str.lower()

0                 low
1       not specified
2                high
3                high
4                high
            ...
8385              low
8386              low
8387    not specified
8388             high
8389           medium
Name: Order Priority, Length: 8390, dtype: object

In [75]:
# to store in the data frame 
order['Order Priority']=order['Order Priority'].str.lower()
order['Order Priority'].head()

0              low
1    not specified
2             high
3             high
4             high
Name: Order Priority, dtype: object

In [76]:
# to title case
order['Order Priority'].str.title()

0                 Low
1       Not Specified
2                High
3                High
4                High
            ...
8385              Low
8386              Low
8387    Not Specified
8388             High
8389           Medium
Name: Order Priority, Length: 8390, dtype: object

In [82]:
#lenth off string
order['Order Priority'].str.len()

0        3
1       13
2        4
3        4
4        4
        ..
8385     3
8386     3
8387    13
8388     4
8389     6
Name: Order Priority, Length: 8390, dtype: int64

In [83]:
# islower, isupper, istitle
order['Order Priority'].str.islower()

0       True
1       True
2       True
3       True
4       True
        ...
8385    True
8386    True
8387    True
8388    True
8389    True
Name: Order Priority, Length: 8390, dtype: bool

In [87]:
#contains
order['Order Priority'].str.contains('not')

0       False
1        True
2       False
3       False
4       False
        ...
8385    False
8386    False
8387     True
8388    False
8389    False
Name: Order Priority, Length: 8390, dtype: bool

In [92]:
#replace
order['Order Priority'].str.replace('not','non').unique()

array(['low', 'non specified', 'high', 'critical', 'medium'], dtype=object)

#  pivit table

In [93]:
import pandas as pd 
import numpy as np

In [95]:
order= pd.read_excel('Sample - Superstore Sales.xls',0)
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [102]:
#order.columns
pd.pivot_table(order,'Sales',['Order Priority'],aggfunc='mean')

                      Sales
Order Priority
Critical        1697.512545
High            1849.741575
Low             1901.401445
Medium          1755.667275
Not Specified   1661.700536

In [103]:
pd.pivot_table(order,'Sales',index=['Order Priority'],columns=['Ship Mode'],aggfunc='mean')

Ship Mode       Delivery Truck  Express Air  Regular Air
Order Priority
Critical           5282.811596  1169.063268  1092.406241
High               5712.880694  1163.146222  1227.612718
Low                5706.046847  1146.318966  1276.333954
Medium             5084.792888  1395.113393  1257.301736
Not Specified      5256.271665  1151.916308  1128.363314

In [105]:
pd.pivot_table(order,'Sales',index=['Order Priority'],columns=['Ship Mode'],aggfunc='mean',margins=True, margins_name='total').round()

Ship Mode       Delivery Truck  Express Air  Regular Air   total
Order Priority
Critical                5283.0       1169.0       1092.0  1698.0
High                    5713.0       1163.0       1228.0  1850.0
Low                     5706.0       1146.0       1276.0  1901.0
Medium                  5085.0       1395.0       1257.0  1756.0
Not Specified           5256.0       1152.0       1128.0  1662.0
total                   5427.0       1207.0       1198.0  1775.0

# row coll display setings

In [107]:
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [108]:
pd.describe_option()

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    when pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision (number of significant digits). This is
    only a suggestion
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd.
    [default: auto] [currently: auto]
io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    auto, xlwt.
    [default: auto] [currently: auto]
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).
    [default: False] [currently: False]
mode.use_inf_as_null : boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.
    [default: False] [currently: False]
    (Deprecated, use `mode.use_inf_as_na` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]

In [110]:
# to check thee current display options
pd.get_option('display.max_columns')

20

In [112]:
pd.set_option('display.max_columns',None)

In [114]:
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,2.56,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,5.81,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,89.30,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,5.03,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [115]:
pd.reset_option('display.max_columns')

# handel NA

In [116]:
order.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [124]:
# is null
order.isnull().sum()

Row ID                   0
Order ID                 0
Order Date               0
Order Priority           0
Order Quantity           0
Sales                    0
Discount                 0
Ship Mode                0
Profit                   0
Unit Price               0
Shipping Cost            0
Customer Name            0
Province                 0
Region                   0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Name             0
Product Container        0
Product Base Margin     63
Ship Date                0
dtype: int64

In [126]:
order[order['Product Base Margin'].isnull()]

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
23,24,134,2012-04-30,Not Specified,11,1132.60,0.01,Regular Air,-310.21000,95.99,...,Michael Dominguez,Ontario,Ontario,Home Office,Office Supplies,Storage & Organization,Safco Industrial Wire Shelving,Large Box,NaN,2012-05-02
97,98,613,2011-06-17,High,22,905.08,0.09,Regular Air,127.70000,42.76,...,Carl Jackson,Nunavut,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Mobile Desk Side File, Wire Frame",Small Box,NaN,2011-06-18
102,103,643,2011-03-24,High,21,2781.82,0.07,Express Air,-695.26000,138.14,...,Monica Federle,Nunavut,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Commercial Wire Shelving, Black",Large Box,NaN,2011-03-25
260,261,1824,2009-05-04,Critical,39,10656.26,0.06,Regular Air,3116.54000,276.20,...,Becky Pak,Alberta,West,Corporate,Furniture,Chairs & Chairmats,SAFCO Arco Folding Chair,Large Box,NaN,2009-05-05
279,280,1925,2012-03-04,Critical,7,1874.37,0.08,Regular Air,67.84000,276.20,...,Brian Moss,British Columbia,West,Corporate,Furniture,Chairs & Chairmats,SAFCO Arco Folding Chair,Large Box,NaN,2012-03-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7628,7629,54592,2011-06-12,Low,28,1971.56,0.05,Delivery Truck,-15.29000,70.98,...,Erica Hernandez,Quebec,Quebec,Small Business,Furniture,Bookcases,"Safco Value Mate Steel Bookcase, Baked Enamel ...",Jumbo Box,NaN,2011-06-16
7699,7700,55202,2011-08-24,Low,33,3093.76,0.07,Express Air,-850.71000,95.99,...,Bobby Elias,Quebec,Quebec,Small Business,Office Supplies,Storage & Organization,Safco Industrial Wire Shelving,Large Box,NaN,2011-08-26
7769,7770,55621,2011-03-15,Low,50,6356.68,0.03,Regular Air,1812.86000,128.24,...,Neil Knudson,Saskachewan,Prarie,Home Office,Furniture,Chairs & Chairmats,SAFCO Folding Chair Trolley,Medium Box,NaN,2011-03-17
7825,7826,55938,2012-07-02,Not Specified,18,1769.90,0.05,Express Air,-468.89000,95.99,...,Mark Haberlin,Nova Scotia,Atlantic,Small Business,Office Supplies,Storage & Organization,Safco Industrial Wire Shelving,Large Box,NaN,2012-07-03
8357,8358,59714,2010-12-13,Critical,26,9225.65,0.03,Delivery Truck,1656.46215,349.45,...,Julia Barnett,Quebec,Quebec,Corporate,Furniture,Tables,SAFCO PlanMaster Heigh-Adjustable Drafting Tab...,Jumbo Drum,NaN,2010-12-15

In [127]:
order.notnull()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8385,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8386,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8387,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8388,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8389,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [129]:
order.shape

(8390, 21)

In [131]:
order.dropna(how='any').shape

(8327, 21)

In [132]:
order.dropna(how='all').shape

(8390, 21)

In [134]:
# to set threshold 
order.dropna(how='any',thresh=1).shape

(8390, 21)